.App {
  text-align: center;
}

.App code {
  top: 0;
  background: #FFF3;
  padding: 12px 32px;
  border-radius: 6px;
}

.App p {
  margin: 0.4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(280px + 2vmin);
  color: white;
}

@keyframes alarmAnimation {
  0%   {border-color: red;}
  100% {border-color: #888888;}
}

.alarmed {
  border: solid 12px;
  animation-name: alarmAnimation;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

.notAlarmed {
  border: solid 4px #888888;
}
